* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* General Layout Styling */
.container {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.containerTop {
    height: 120px;
    background-color: #1ebea5;
}
.containerBottom {
    height: calc(100vh - 120px);
    background-color: #e0e0e0;
    background-image: linear-gradient(180deg,#dddbd1,#d2dbdc);
}
.mainPage {
    height: 90%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 17px 50px 0 rgba(0,0,0,.19), 0 12px 15px 0 rgba(0,0,0,.24);
}
/* Contacts Section */
.contacts {
    float: left;
    width: 35%;
    height: 100%;
    background-color: white;
}
.ringbell {
    height: 80px;
    width: 100%;
    background-color: blue;
}
.searchbar {
    height: 40px;
    width: 100%;
    background-color: orange;
}
.myFriend {
    height: 80px;
    width: 100%;
    border-bottom: 1px solid grey;
    background-color: yellow;
}
/* end Contact Section */


/* Chat Section */
.chatView {
    float: left;
    height: 100%;
    width: 65%;
    border-left: 1px solid grey;
}
.banner {
    height: 60px;
    width: 100%;
    background-color: pink;
}
.chatWindow {
    height: calc(100% - 120px);
    width: 100%;
    background-color: lightblue;
}
/* end Chat Section */


/* end General styling Layout */
