* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
/* General Layout Styling */
.container {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.containerTop {
    height: 120px;
    background-color: #1ebea5;
}
.containerBottom {
    height: calc(100vh - 120px);
    background-color: #e0e0e0;
    background-image: linear-gradient(180deg,#dddbd1,#d2dbdc);
}
.mainPage {
    height: 90%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 17px 50px 0 rgba(0,0,0,.19), 0 12px 15px 0 rgba(0,0,0,.24);
}
/* Contacts Section */
.contacts {
    float: left;
    width: 35%;
    height: 100%;
    background-color: white;
}
.ringbell {
    height: 80px;
    width: 100%;
    background-color: #19B5FE;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.bellIcon {
    height: 47px;
    width: 47px;
    color: #19B5FE;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
.searchbar {
    height: 40px;
    width: 100%;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.searchIcon {
    width: 65px;
    background-color: white;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    margin-left: 3px;
    border: 1px solid lightgrey;
    cursor: pointer;
}
.searchbar .searchbar_friends {
    width: calc(100% - 65px);
    height: 30px;
    margin-right: 3px;

}
.searchbar .searchbar_friends input {
    width: 100%;
    height: 100%;
    border: none;
}
.myFriend {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid grey;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 10px;
}
.myFriend.active {
    background-color: lightblue;
}
.contactText {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 10px;
}
.contactName p {
    font-weight: bold;
}
.contactName small, .clock small {
    font-weight: 400;
    color: grey;
}
.contactPhoto img{
    height: 47px;
}
.myFriend .contactPhoto img {
    margin: 0 10px;
}

.generalIcons i {
    color: grey;
    margin: 0 8px;;
}
/* end Contact Section */


/* Chat Section */
.chatView {
    float: left;
    height: 100%;
    width: 65%;
    border-left: 1px solid grey;
}
.banner {
    height: 60px;
    width: 100%;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.chatView .banner .contactPhoto {
    display: flex;
    align-items: center;
}
.chatView .contactName {
    margin-left: 10px;
}
.chatWindow {
    height: calc(100% - 120px);
    width: 100%;
    padding: 20px;
    background-image: url('https://backgroundcheckall.com/wp-content/uploads/2017/12/whatsapp-green-background-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
}

#messageBox {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px 0;
}
#messageBox i {
    width: 10%;
    color: grey;
}
#messageBox .icons {
    width: 10%;
    color: grey;
}
#messageBox i:hover {
    cursor: pointer;
}
#messageBox i.hide {
    display: none;
}
#messageBox .textbox_form {
    width: 80%;
    height: 45px;
}
#messageBox .textbox_form input {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border: none;
}
/* end Chat Section */


/* end General styling Layout */

/* styling Template */
.message {
    max-width: 60%;
    min-width: 20%;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    margin: 5px;
}
.template {
    display: none;
}
.message .message-time {
    position: absolute;
    bottom: 0;
    right: 5%;
    color: grey;
    font-size: 8px;
}
.message.sent {
    float: right;
    clear: both;
    background-color: green;
}
.message.received {
    float: left;
    clear: both;
    background-color: white;
}

/* end Styling Template */
